.d-none {
    display: none !important;
}

.hero-slide_image-wrapper {
    bottom: -38px;
}

.hero-slide_image {
    width: 400px;
}

.footer.wf-section {
    border-top: 0.5px rgba(128, 128, 128, 0.44) solid;
}

/* DETAIL COURSE */

.cdetail-sidebar-absolute {
    right: 30px;
    top: 10px;
}

.kelas-feature_list-item {
    color: #333;
}

.kelas-card_harga {
    color: #333;   
}

.default-select{
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    padding: 16px;
    border: 1px solid #7186a0;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

}

.materi-accordion_header_item{

    padding-top: 10px;
}

.empt-result_image {
    text-align: center;
}

.result-search {
    border: 1px solid #7186a0;
    /* text-align: center; */
}

/* PROFIL */

.avatar-container {
    position: relative;
    display: inline-block;
  }
  
  .avatar-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2f2f2;
    overflow: hidden;
  }
  
  .avatar-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .edit-icon i {
    color: #555;
  }
  
  #file-input {
    display: none;
  }
  