.note-editor.note-frame, .note-editor.note-airframe{
    border-radius: 1.25rem !important;
    background: #fff !important;
    border: 1px solid #f0f1f5 !important;
}

.select2-container--default .select2-selection--single {
    min-height: 56px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 56px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 15px !important;
}

.select2-container .select2-selection--multiple{
    min-height: 56px !important;
    
}

.input-group-text {
    min-height: 56px;
}


.custom-file-label{
    min-height: 56px;
    line-height: 2.3;
    border-radius: 1.25rem;
}

.custom-file-label:after{
    min-height: 56px;
    line-height: 2.4;
    border-radius: 1.25rem;
}

.accordion-text-item{
    padding: 0.5rem;
    border: 1px solid #f0f1f5;
    cursor: pointer;
    position: relative;
    color: #333;
    font-weight: 400;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    background: #f3f3f3;
}

.form-check-inline {
    width: 15%;
}

.cdetail-tutor_image {
    width: 100px;
    height: 100px;
}
